.new-event-btn {
	background-color: #2C3E50;
	margin: 18px 0px;
	padding: 8px 6px;
	border-radius: 6px;
	font-size: 17px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
	
}