:root {
	/* BOOKIAL OFFICIAL COLORS */
	--bookialwhite        : #fafafa;
	--bookialyellow       : #fffba4;
	--bookialorange       : #f9c080;
	--bookialpeach        : #ffcdc5;
	--bookialsalmon       : #ed7878;
	--bookialred          : #eb4949;
	--bookialcoral        : #ff768f;
	--bookialpink         : #dd3e77;
	--bookialfucsia       : #eb5fb3;
	--bookiallavander     : #ef9ce7;
	--bookialmagenta      : #c364d6;
	--bookialdarkviolet   : #420c60;
	--bookialpurple       : #3d2aaf;
	--bookialblue         : #3c7cd1;
	--bookiallightcyan    : #bde1ed;
	--bookialdarkturqoise : #116274;
	--bookialblack        : #222222;

	/* BOOKAL ALTERNATIVE COLORS */
	--paleorange          : #ffd0b0;
	--mainorange          : #ffc179;
	--lightorange         : #ffc090;
	--strongorange        : #ffa970;

	--palepink            : #ffaacc;
	--lightpink           : #ff80b5;
	--mainpink            : #ff4590;

	--bookiallilac        : #d7bbee;
	--bookialweaknight    : #7f83c0;
	--bookialdarkpurple   : #431c8a;
	--bookialgraypurple   : #281061;
	
	--black               : #151515;
}

body {
	background: linear-gradient(135deg, var(--bookialblack), var(--black));
}

header {
	background: linear-gradient(135deg, var(--bookialpurple), var(--bookialdarkviolet));
}

header a {
	color: var(--bookiallilac);
}

nav {
	background: var(--bookialpurple);
}

nav hr {
	border-color: var(--bookiallilac);
}

nav h3 {
	color: var(--bookiallilac);
}

nav a {
	color: var(--bookiallilac);
}

nav a:hover {
	background: var(--bookialgraypurple);
	color: var(--bookiallavander);
}

#intro, #featured-books h2 {
	color: var(--bookialweaknight);
}

#stats div {
	background-color: var(--black);
	color: var(--bookialweaknight)
}

#stats div i {
	color: var(--bookialmagenta);
}

#featured-books .book-card {
	background-color: var(--black);
	color: var(--bookialweaknight)
}

.book-card .book-icon i {
	color: var(--bookialmagenta);
}

.book-card .btn {
	color: var(--bookiallavander);
}

footer {
	background-color: var(--bookialblack);
	color: var(--bookialweaknight);
}