<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/aesthetic.css">
	<link rel="stylesheet" href="../static/css/structure.css">
	<link rel="stylesheet" href="../static/css/home.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person_alert" />
	<title>Bookial - Registrarse</title>
</head>
<body>
	<header>
		<a href="dashboard.html" class="header-div">
			<i class="bi bi-book-half" style="font-size: 48px;"></i>
			<h1>Bookial</h1>
			<p class="header-p">Biblioteca Digital</p>
		</a>
	</header>

	<nav id="mainNav">
		<h3><i class="bi bi-menu-button-wide"></i> Menú</h3>
		<a href="index.html"><i class="bi bi-house"></i> Inicio</a>
		<a href="dashboard.html"><i class="bi bi-grid"></i> Dashboard</a>
		<a href="library.html"><i class="bi bi-book"></i> Biblioteca</a>
		<a href="calendar.html"><i class="bi bi-calendar"></i> Calendario</a>
		<a href="alumnos.html"><i class="bi bi-calendar"></i> Alumnos</a>
		<a href="profesores.html"><i class="bi bi-calendar"></i> Profesores</a>
		<a href="califications.html"><i class="bi bi-calendar"></i> Califications</a>
		<a href="gamification.html"><i class="bi bi-calendar"></i> Gamificacion</a>
		<a href="lectionary.html"><i class="bi bi-calendar"></i> Leccionario</a>
		<hr>
		<a href="login.html"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a>
	</nav>

	<main>
		<div class="auth-container">
			<div class="auth-box">
				<h2><i class="bi bi-person-plus"></i> Registro de Usuario</h2>
				
				<form action="login.html" method="GET">
					<div class="form-group">
						<label for="nombre"><i class="bi bi-person"></i> Nombre:</label>
						<input type="text" id="nombre" name="nombre" required placeholder="Tu nombre">
					</div>
					
					<div class="form-group">
						<label for="apellido"><i class="bi bi-person-badge"></i> Apellido:</label>
						<input type="text" id="apellido" name="apellido" required placeholder="Tu apellido">
					</div>
					
					<div class="form-group">
						<label for="rut"><i class="bi bi-card-list"></i> RUT:</label>
						<input type="text" id="rut" name="rut" required placeholder="12.345.678-9">
					</div>
					
					<div class="form-group">
						<label for="email"><i class="bi bi-envelope"></i> Email:</label>
						<input type="email" id="email" name="email" pattern="[a-zA-Z]" required placeholder="tu@email.com"> <!--  -->
					</div>

					<div class="form-group">
						<label for="cargo"><i class="bi bi-person-workspace"></i> Cargo:</label>
						<select required name="cargo" id="cargo">
							<option value="" disabled hidden selected>Selecciona tu cargo</option>
							<option value="director">Director</option>
							<option value="profesor">Profesor</option>
							<option value="apoderado">Apoderado</option>
							<option value="estudiante">Estudiante</option>
						</select>
					</div>
					
					<div class="form-group curso">
						<label for="curso"><i class="bi bi-mortarboard"></i> Curso:</label>
						<select id="curso" name="curso">
							<option value="" disabled hidden selected>Selecciona tu curso</option>
							<option value="1ro básico">1° Básico</option>
							<option value="2do básico">2° Básico</option>
							<option value="3ro básico">3° Básico</option>
							<option value="4to básico">4° Básico</option>
							<option value="5to básico">5° Básico</option>
							<option value="6to básico">6° Básico</option>
							<option value="7mo básico">7° Básico</option>
							<option value="8vo básico">8° Básico</option>
							<option value="1ro básico">1° Medio</option>
							<option value="2do básico">2° Medio</option>
							<option value="3ro básico">3° Medio</option>
							<option value="4to básico">4° Medio</option>
							<option value="no" id="noCur"> No tengo jefatura</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="password"><i class="bi bi-lock"></i> Contraseña:</label>
						<input type="password" id="password" name="password" required placeholder="••••••••" minlength="8">
					</div>
					
					<div class="form-group">
						<label for="confirm_password"><i class="bi bi-shield-lock"></i> Confirmar Contraseña:</label>
						<input type="password" id="confirm_password" name="confirm_password" required placeholder="••••••••" minlength="8">
					</div>
					
					<button type="submit" class="btn-primary">Registrarse</button>
				</form>

				<p class="auth-link">
					¿Ya tienes cuenta? <a href="login.html">Inicia sesión aquí</a>
				</p>
			</div>
		</div>
		<dialog id="popup">
			<h2><span class="material-symbols-outlined">person_alert</span>  </h2>
			<h3></h3>
		</dialog>
	</main>
	<footer>
		<p>&copy; 2026 Bookial - Todos los derechos reservados</p>
		<small>Contacto: bookial@protonmail.com</small>
	</footer>
	<script src="../static/js/nav.js"></script>
	<script src="../static/js/auth.js"></script>
	<script src="../static/js/data.js"></script>
</body>
</html>